<footer class="page-footer container-fluid col-sm-12">
    <hr>
    <div class="container">
        <div class="col-sm-4">
            <h4>Help</h4>
            <ul class="list-unstyled quick-links">
                <li><a href="">Payments</a></li>

                <li><a href="">Shipping</a></li>

                <li><a href="">Cancellations & Return</a></li>

                <li><a href="">FAQ</a></li>

            </ul>
        </div>

        <div class="col-sm-4">
            <h4>Lifestyle Store</h4>
            <ul class="list-unstyled quick-links">
                <li><a href="">Contact Us</a></li>

                <li><a href="">About Us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Stories</a></li>
                <li><a href="">Sell With Us</a></li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h4>MISC</h4>
            <ul class="list-unstyled quick-links">
                <li><a href="">Online Shopping</a></li>
                <li><a href="">Gift Card</a></li>
                <li><a href=""></a></li>Sitemap
            </ul>
        </div>

    </div>
    <div class="container-fluid col-lg-10 col-lg-offset-1">
        <div class="row">
            <hr>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-map-marker"></span>
                <h3 class="text-center">&nbsp;TRACK YOUR ORDER</h3>
            </div>

            <div class="col-sm-4">
                <span class="glyphicon glyphicon-refresh"></span>
                <h3 class="text-center">&nbsp;&nbsp;FREE & EASY RETURNS</h3>

            </div>

            <div class="col-sm-4">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <h3 class="text-center">ONLINE CANCELLATIONS</h3>
            </div>
        </div>
    </div>
    <hr>
    </div>
    </div>

</footer>
<script src="<%= SITE_URL %>/assets/js/app.js"></script>
<script>
    const cartBtn = document.getElementById("cartBtn");
const cartKey = "userCart"

function addNewProduct() {
    const productId = document.getElementById("product_id");
    const quantity = document.getElementById("quantity");
    const thumbUrl = document.querySelector(".item img").src;
    const name = document.getElementById("product_title").innerText;
    const price = document.getElementById("product_price").innerText;
    let updatedProduct = [];
    let prevProduct = localStorage.getItem(cartKey);
    let product = {
        "product_id": productId.value,
        "name": name,
        "price": price,
        "thumb_url": thumbUrl,
        "quantity": quantity.value
    };
    if (prevProduct) {
        prevProduct = JSON.parse(prevProduct);
        if (Array.isArray(prevProduct)) {
            prevProduct.push(product);
            updatedProduct = prevProduct;
        } else {
            updatedProduct.push(prevProduct);
            updatedProduct.push(product);
        }
        localStorage.setItem(cartKey, JSON.stringify(updatedProduct));
    } else {
        localStorage.setItem(cartKey, JSON.stringify(product));
    }

}
function cartCounter() {
    let list = localStorage.getItem(cartKey); // Retrieve the value from localStorage
    if (typeof list !== "undefined" && list !== null) { // Check if the value is not undefined and not null
        let counter = JSON.parse(list).length; // Parse the retrieved value
        if (counter > 0) {
            const counterEl = document.getElementById("cartCounter");
            counterEl.innerText = counter;
        }
    }
}
cartCounter();
cartBtn.onclick = e => {
    addNewProduct()
    cartCounter()
}
</script>
</body>

</html>