<%- include("common/header.ejs") -%>
    <div class="menu container-fluid">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" role="form" action="/order" method="POST">

                        <h2> Address</h2>

                        <div class="form-group">
                            <label for="inputFullName" class="col-sm-2 control-label">Full Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputFullName" name="fullname"
                                    placeholder="Full Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <p class="col-sm-offset-2 col-sm-10 help-block">Street address, P.O. box, company
                                name, c/o</p>
                            <label for="inputAddressLine1" class="col-sm-2 control-label">Address Line </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputAddressLine1" name="address"
                                    placeholder="Address Line 1">
                            </div>
                        </div>


                        <!-- <div class="form-group">
                            <label for="inputStateProvinceRegion" class="col-sm-2 control-label">State /
                                Divison</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputStateProvinceRegion"
                                    name="state-province-region" placeholder="Divison">
                            </div>
                        </div> -->

                        <!-- <div class="form-group">
                            <label for="inputCityTown" class="col-sm-2 control-label">City / Town</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCityTown" name="city-town"
                                    placeholder="City / Town">
                            </div>
                        </div> -->

                        <input type="hidden" name="products" id="products">
                        <div class="form-group">
                            <label for="inputZipPostalCode" class="col-sm-2 control-label">Zip / Postal
                                Code</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputZipPostalCode" name="zipCode"
                                    placeholder="Zip / Postal Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputZipPostalCode" class="col-sm-2 control-label">cash on delivery</label>
                            <div class="col-sm-10">
                                <input type="radio" class="form" name="payment_type" id="" value="cashOnDelivery"
                                    checked>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-3 offset-5">
                                <input type="submit" class="btn btn-success float-right" value="order">

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        let productsEl = document.getElementById("products");
        const products = localStorage.getItem("userCart");
        productsEl.value = products
    </script>


    <%- include("common/footer.ejs") -%>