<form action="/register" method="post">
    <input type="text" name="name" placeholder="Your Name" id=""> <br>
    <input type="email" name="email" placeholder="Your Email" id=""><br>
    <input type="password" name="password" placeholder="password" id=""><br>
    <input type="password" name="cpassword" placeholder="confirm password" id=""><br>
    <input type="submit" value="Register">
</form>