<%- include("../common/header.ejs") -%>
    <div class="layout-page">
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">

                <div class="row">
                    <% if(success && success ){ %>
                        <div class="alert alert-success alert-dismissible fade show">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <h4 class="alert-heading">Success</h4>
                            <p>Successfully product uploaded</p>
                        </div>
                        <% } %>
                            <form action="/admin/product/add" method="post" enctype="multipart/form-data"
                                class="form-control">
                                <lebel for="title">Product Title</lebel>
                                <input type="text" name="title" class="form-control" placeholder="Product Title"
                                    id="title">
                                <lebel for="thumb">Product Thumbnail</lebel>
                                <input type="file" name="product_thumb" class="form-control" id="thumb" />
                                <lebel for="image">Product Image</lebel>
                                <input type="file" name="product_image" class="form-control" multiple />
                                <lebel for="category">Product Category</lebel>
                                <select class="form-control w-50" name="category">
                                    <% categories.map(category=> { %>
                                        <option value="<%= category.slug %>">
                                            <%= category.title %>
                                        </option>
                                        <% }); %>
                                </select>
                                <lebel for="price">Product Price</lebel>
                                <input type="number" name="price" class="form-control" placeholder="Product price">
                                <lebel for="discount">Product color</lebel>
                                <input type="text" name="color" class="form-control" placeholder="Color">
                                <lebel for="discount">Product Size</lebel>
                                <input type="text" name="size" class="form-control" placeholder="Size">
                                <lebel for="Quanlity">Product Quanlity</lebel>
                                <input type="number" name="quantity" class="form-control"
                                    placeholder="Product Quanlity">
                                <label for="description">Product Description</label>
                                <textarea name="description" id="description" class="form-control" cols="30"
                                    rows="10"></textarea>
                                <input type="submit" value="submit" class="btn btn-primary" name="submit">

                            </form>
                            <div>
                            </div>
                </div>
            </div>
            <%- include("../common/footer.ejs") -%>